*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/src/main/java/com/feiradagua/feiradagua/utils/Constants.kt
/app/google-services.json
/app/keystore
/app/release/app-release.apk
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
